@model IEnumerable<Sis457RoboticaRas.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Productos</h1>


<div class="container-fluid my-3">
    <div class="container">
        <p>
            <a asp-action="Create">Crear Nuevo</a>
        </p>
        <div class="row">
            
            <br />
            @foreach (var item in Model)
            {
                <div class="card" style="width: 23rem;">
                    <a asp-action="Details" asp-route-id="@item.IdProducto">
                        <img src="@item.UrlImagen" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre</h5>
                            <p class="card-text">Precio: @item.Precio Bs.</p>
                            
                            <a asp-action="Edit" asp-route-id="@item.IdProducto">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.IdProducto">Ver</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdProducto">Eliminar</a>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
  

    
