@model Sis457RoboticaRas.Models.Ventum

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid my-3">
    <div class="container">
        <h1>Eliminar Venta</h1>

        <h3>¿Está seguro que desea eliminar la venta?</h3>
        <div>
            
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Total Venta
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TotalVenta)
                </dd>
                <dt class="col-sm-2">
                    Fecha Venta
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FechaVenta)
                </dd>
                <dt class="col-sm-2">
                    Usuario Registro
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UsuarioRegistro)
                </dd>
                <dt class="col-sm-2">
                    Fecha Registro
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FechaRegistro)
                </dd>
                <dt class="col-sm-2">
                    Estado
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Estado)
                </dd>
                <dt class="col-sm-2">
                    Cliente
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdClienteNavigation.Id)
                </dd>
                <dt class="col-sm-2">
                    Usuario
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                <a asp-action="Index">Volver</a>
            </form>
        </div>
    </div>
</div>