@model Sis457RoboticaRas.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles de Usuario</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario1)
        </dd>
        <dt class = "col-sm-2">
            Clave
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clave)
        </dd>
        <dt class = "col-sm-2">
            Usuario Registro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioRegistro)
        </dd>
        <dt class = "col-sm-2">
            Fecha Registro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            Estado
        </dt>
        <dd class = "col-sm-10">
            @(Model.Estado == 1 ? "Activo" : "Inactivo")
        </dd>
        <dt class = "col-sm-2">
            Nombre Empleado
        </dt>
        <dd class = "col-sm-10">
            @Model.IdEmpleadoNavigation.Nombre @Model.IdEmpleadoNavigation.Apellidos
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUsuario">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
